[2021-02-05 17:38] bbirand opened #3 "Add variable for not using "Sales Receipts""
I really like that there are variables that control which QBO features are used. I think a big part of the issue is that FiveTran doesn't create empty tables.

Can you add another switch for the "Sales Receipts", which we don't use?
  Object 'FIVETRAN_DATABASE.QUICKBOOKS.SALES_RECEIPT_LINE' does not exist or not authorized.
  Object 'FIVETRAN_DATABASE.QUICKBOOKS.SALES_RECEIPT' does not exist or no

[2021-02-05 18:15] fivetran-kristin commented on #3
Hi @bbirand - we will look into doing this and get back to you here. Thanks for the suggestion!

[2021-02-05 21:59] fivetran-joemarkiewicz commented on #3
Hi @bbirand 👋

Thanks for bringing the sales_receipt variable to our attention. I have been able to create a new branch for the [dbt_quickbooks_source](https://github.com/fivetran/dbt_quickbooks_source/tree/sales_receipt_var) and [dbt_quickbooks](https://github.com/fivetran/dbt_quickbooks/tree/sales_receipt_var) packages that incorporate the `using_sales_receipt` variable which allows you to deact

[2021-02-07 02:33] bbirand commented on #3
I actually ended up creating a sales receipt object just to fill that table... I’ll check what happens when I delete them again.

--
Berk Birand

On February 5, 2021 at 17:00:11, Joe Markiewicz (notifications@github.com(mailto:notifications@github.com)) wrote:

[2021-02-09 14:41] fivetran-joemarkiewicz commented on #3
Hi @bbirand were you able to try the working branch after the tables were deleted? If this worked for you I can open a PR for the working branch to incorporate the changes.

Thanks!

[2021-02-16 14:37] fivetran-joemarkiewicz commented on #3
@bbirand the recent release of the [QuickBooks package](https://hub.getdbt.com/fivetran/quickbooks/latest/) fixes this issue while also adding some other additional features! You may now disable the sales_receipt tables with the `using_sales_receipt: False` variable!

Feel free to install the new release as a dependency in your dbt_project and your issue will be resolved.
[code]

[2021-02-16 14:37] #3 closed

[2021-02-17 23:20] fivetran-joemarkiewicz opened #5 "Profit and Loss Model"
Customers have requested for a profit and loss final model to be added. Adding this final model will require:

- Grouping accounts within `quickbooks__general_ledger_by_period` per month together to achieve a by month profit and loss.
- Documentation on how customers can achieve a P&L/IS for a desired fiscal calendar period.

[2021-03-22 14:02] fivetran-joemarkiewicz commented on #5
This Issue has been resolved within PR #6 and will be reflected in release v0.2.0!

Keep an eye on the dbt hub for when the release goes live.

[2021-03-22 14:02] #5 closed

[2021-04-08 19:28] austinmao76 opened #8 "Deleted Accounts not being picked"
We are running into an issue where deleted accounts with a greater Account_ID than the new account it is not being picked up by the new active account.

[2021-04-09 18:06] fivetran-joemarkiewicz commented on #8
Hi @austinmao76 I pushed the change we discussed yesterday to a new branch and created a draft PR #9 to track our updates. Feel free to update your `packages.yml` quickbooks dependency to the below:

[code]

In this branch I removed the aggregate and added a where clause to only pull in active accounts receivable accounts. I am curious if this will result in AR accounts on your end. My dataset doe

[2021-04-09 19:11] fivetran-joemarkiewicz opened #10 "Postgres Compatibility"
Request to have the quickbooks_source and quickbooks package be compatible with Postgres

[2021-04-10 00:58] austinmao76 commented on #8
thanks @fivetran-joemarkiewicz  - currently when trying to get into the deploy I'm stuck on the loading screen.

[2021-04-12 13:43] fivetran-joemarkiewicz commented on #8
@austinmao76 I think your previous message was deleted for some reason so posting what I received in my email below.
[code]

The above error seems to be a dbt cloud one. Let me know when you are able to give it a run and we can evaluate if the update fixed the issue you were originally seeing.

[2021-04-12 17:00] austinmao76 commented on #8
Sorry, about that. It worked as I submitted the ticket.

So far in just checking that one account, this fix has worked. I'm going to review it with Martin to make sure there isn't anything else related to this and get back to you or close this issue.

Thanks - Austin

[2021-04-12 18:40] fivetran-joemarkiewicz opened #11 "Add Address Disable Config"
Customer is unable to run the package as they do not have the address model. This issue is being created to add a config block variable for the address table.

This variable will be `true` by default.

[2021-04-12 21:23] fivetran-joemarkiewicz commented on #10
The PR that incorporates these changes will also take into consideration the feature requested within Issue #11

[2021-04-16 21:50] fivetran-joemarkiewicz commented on #8
@austinmao76 we are going to release a new version of the QuickBooks package today that incorporates Postgres compatibility. I felt it was important to add the fix within this Issue to be incorporated within this new release since you mentioned it fixed the initial bug.

I will keep this Issue open in case you and Martin would like to discuss further. Otherwise, feel free to close the issue when y

[2021-04-16 22:08] fivetran-joemarkiewicz commented on #11
Closing this Issue as it has been addressed within Release [v0.2.1](https://github.com/fivetran/dbt_quickbooks/releases/tag/v0.2.1).

[2021-04-16 22:08] #11 closed

[2021-04-16 22:08] fivetran-joemarkiewicz commented on #10
Closing this Issue as it has been addressed within Release [v0.2.1](https://github.com/fivetran/dbt_quickbooks/releases/tag/v0.2.1).

[2021-04-16 22:08] #10 closed

[2021-04-20 03:15] shubhamelucidate opened #13 "Postgres Compatibility errors with v0.2.1"
Tested Dbt run with latest version 0.2.1:

`dbt run  --vars '{using_address: false, using_bill: false, using_credit_memo: false, using_department: false, using_deposit: false, using_estimate: false, using_invoice: false, using_invoice_bundle: false, using_journal_entry: false, using_payment: false, using_refund_receipt: false, using_transfer: false, using_vendor_credit: false, using_sales_receipt:

[2021-04-20 05:21] shubhamelucidate commented on #13
PR here: https://github.com/fivetran/dbt_quickbooks/pull/14

[2021-04-20 13:54] fivetran-joemarkiewicz commented on #13
Hi @shubhamelucidate thanks for opening this issue and calling out the rounding error for Postgres. Additionally, thank you for opening PR #14. Looking through the PR I decided to remove the rounding function as the Postgres rounding function is not compatibile with other databases and does not need to be included.

As such, I removed the round syntax from the two models you called out within your

[2021-04-21 22:47] fivetran-joemarkiewicz commented on #13
Closing this issue as it has been incorporated within PR #15 and is now live within the v0.2.2 release of QuickBooks:

[code]

[2021-04-21 22:47] #13 closed

[2021-05-14 03:28] wasifaleemdd opened #17 "FEATURE - Include `account_id` column in models"
**Are you a Fivetran customer?**
Daydream

**Describe the solution you'd like**
Add `account_id` column to the following models:
* `quickbooks__profit_and_loss`
* `quickbooks__balance_sheet`

**Please indicate the level of urgency and business impact of this request**
This is currently blocking our customers from viewing aggregated model data

[2021-05-14 17:14] fivetran-joemarkiewicz commented on #17
Thanks for opening this Issue @wasifaleemdd!

Our team will work on assigning this task internally and will communicate here when a member of our team is working to include the `account_id` field to the profit and loss and balance sheet models.

[2021-05-17 17:34] joaolcorreia opened #18 "FEATURE - [Adding customer_id to the general ledger]"
**Is your feature request related to a problem? Please describe.**
A common use data for accounting data is to build MRR rollforward tables (very important for subscription businesses), and cohort analysis, not to mention calculate customer LTV and other unit economics metrics.
In order perform these analysis you need a customer id, it would be great if the general_ledger had a customer_id when ap

[2021-05-17 17:48] jeffspringer opened #19 "BUG - [your bug title here]"
**Are you a current Fivetran customer?**
Fivetran partner - Jeff Springer, Principal Consultant - DAS42

**Describe the bug**
Currency fields (usually 'amount' fields) are being cast to 'decimal' without precision. In Snowflake, this means the values are defaulted to 'number(38,0)' so all the values are losing the cents.

**Steps to reproduce**
1. Running this query will always result in values wi

[2021-05-18 22:14] fivetran-kristin commented on #18
Hey @joaolcorreia thanks for this request! We're currently evaluating and hoping to pick this work up next sprint.  We'll update this ticket with updates.

[2021-05-20 21:57] fivetran-joemarkiewicz commented on #19
Thanks for opening this issue @jeffspringer! I have been assigned to implement this bug fix into the package during this sprint. However, I will be out of office until 6/1.

I recall you had mentioned earlier in the week that you had implemented a fix for this on your own project. If that is the case, and you are open to contributing to the package then I would welcome you to create a PR with the

[2021-05-20 22:30] fivetran-joemarkiewicz commented on #17
Hi @wasifaleemdd 👋

I was able to open PR #20 which incorporates the `account_id` into the balance sheet and profit and loss models. You can follow the progress from there and we will let you know when it is merged and a new version is released.

[2021-05-27 01:05] fivetran-kristin commented on #17
Just an update on progress here:

The PR has been approved and will be merged into master when Joe returns next week.

In parallel, we are working on these other requests:
https://github.com/fivetran/dbt_quickbooks/issues/18
https://github.com/fivetran/dbt_quickbooks/issues/19

When all of this work is done, we'll create a new release.

[2021-06-01 17:53] fivetran-joemarkiewicz commented on #19
@jeffspringer I was able to apply the fix for this Issue and merge it into the master branch. We will refrain from cutting a new release until the Issue #18 is also resolved so we may bundle all updates in one release.

I will post back here once we cut the new release.

[2021-06-02 02:20] jeffspringer commented on #19
That's fantastic, Joe! I wish I could've helped out on this but I just
couldn't find the time and wasn't sure if the changes I made would've
worked for Redshift and BigQuery (which I think the original package strove
to do).

Thank you so much for getting it done so quickly!

On Tue, Jun 1, 2021 at 11:53 AM Joe Markiewicz ***@***.***>
wrote:

--

[2021-06-02 13:55] fivetran-joemarkiewicz commented on #18
@joaolcorreia I am beginning work on this feature request and had a quick question for you. I have been able to locate the `customer_id` fields within the majority of the double entry base tables which we could then bring into the General Ledger final model.

My question for you is if the structure of the `quickbooks__general_ledger` as it currently is works for adding the customer_id's? For examp

[2021-06-02 22:38] joaolcorreia commented on #18
hi @fivetran-joemarkiewicz, yes just adding the customer_id to the general ledger works (when exists is populated) otherwise it is null. Since you are at it you can also add the vendor_id to the general ledger, this would make this table multi-function and very valuable.

[2021-06-09 20:53] fivetran-joemarkiewicz commented on #17
FYI the new release `v0.2.3` has been cut and should be live on the dbt hub tomorrow morning!

Closing this ticket as this update has been included in the latest release.

[2021-06-09 20:53] #17 closed

[2021-06-09 20:53] fivetran-joemarkiewicz commented on #19
FYI the new release `v0.2.3` has been cut and should be live on the dbt hub tomorrow morning!

Closing this ticket as this update has been included in the latest release.

[2021-06-09 20:53] #19 closed

[2021-06-24 03:31] fivetran-joemarkiewicz commented on #18
Hi @joaolcorreia 👋

I have been able to open the draft PR #22 which adds the `customer_id` and `vendor_id` to the `quickbooks__general_ledger` model. Prior to opening the draft PR for review, I would appreciate your input on the updates made. As mentioned, since the behavior of the GL model is to create offsetting entries you will notice that each transaction will have the customer or vendor id re

[2021-06-28 22:56] joaolcorreia commented on #18
Hi @fivetran-joemarkiewicz, this is great!
With a simple query I can build revenue by customer from the GL with a simple join!.
Thank you for making this, getting an MRR table is now much simpler!

[2021-07-01 16:08] fivetran-joemarkiewicz commented on #18
Thanks so much for your input @joaolcorreia! After your feedback I have been able to merge the PR and publish the `v0.2.4` release of the quickbooks package. This latest version of the package should be live on the dbt hub by the end of the day.

Thank you again and please let us know if you run into any other questions or issues.

[2021-07-01 16:08] #18 closed

[2021-09-02 18:13] jon-lonski opened #24 "BUG - [fivetran/quickbooks dbt package results in inaccurate Balance Statement and P&L Tables]"
**Are you a current Fivetran customer?**

Hi, My name is Jonathan Lonski and I am a data scientist at Furey Financial Services

**Describe the bug**

The data within the balance sheet and profit_and_loss tables that result from the fivetran/quickbooks dbt package does not match the data I see in the quickbooks online reports for the given periods.

**Steps to reproduce**
1. I use the Cheeky connec

[2021-09-09 21:47] fivetran-joemarkiewicz commented on #24
Link to the ongoing [dbt slack](https://getdbt.slack.com/archives/C01D1R2JLLA/p1630516303049100) conversation.

[2021-09-13 18:40] fivetran-joemarkiewicz commented on #24
Closing this ticket as the result of the issue most likely is the cause of a connector sync error. A ticket has been opened to help resolve this on the connector side.

Feel free to open this ticket or a new one if you have any other questions. Thanks!

[2021-09-13 18:40] #24 closed

[2021-09-27 20:30] fivetran-joemarkiewicz opened #25 "BUG - Test Issue"
This is a test

[2021-09-27 20:31] #25 closed

[2021-09-30 16:59] fivetran-jamie opened #26 "FEATURE - general ledger unioning"
adapt this! https://github.com/fivetran/dbt_ad_reporting/blob/master/macros/get_staging_files.sql

[2021-10-12 22:14] fivetran-joemarkiewicz opened #27 "FEATURE - Add support for the `detail_type` field for Inventory Lines"
**Are you a Fivetran customer?**

Fivetran identified feature request

**Is your feature request related to a problem? Please describe.**

The package currently has some involved where clauses within the `int_quickbooks__invoice_double_entry` model to filter out invoice subtotals and shipping costs.
https://github.com/fivetran/dbt_quickbooks/blob/ce31cbbc1307b5656c84854276816fc97b953653/models/dou

[2021-10-12 22:25] fivetran-joemarkiewicz opened #28 "FEATURE - Union Schemas Ability"
**Are you a Fivetran customer?**

Fivetran identified request

**Is your feature request related to a problem? Please describe.**

A number of customers have identified that it would be beneficial to run this package for a number of quickbooks schemas. This request would be to add the same functionality within [dbt_shopify](https://github.com/fivetran/dbt_shopify/pull/16) to this quickbooks packag

[2021-11-08 10:32] leinemann opened #30 "QUESTION - would ordering of balance sheet / pnl be a reasonable feature request"
**Are you a Fivetran customer?**
yes, Christoph, Sustain.life
**Your Question**
Our business have started to look at the outcome this dbt package (another great dbt package btw :-) )  and their first comment was that they would like to order the pnl and balance sheet in the common way at the top level i.e. Assets, Liabilities but also at the account level.  My thinking is that we could introduce a

[2021-11-08 15:13] fivetran-joemarkiewicz commented on #30
Hey @leinemann that's great to hear you are able to leverage this package as well 😄.

This was actually a thought I had when originally developing this package. However, I decided to not implement the ordering within the package by default since we received some feedback from users of our [dbt_netsuite](https://github.com/fivetran/dbt_netsuite) (which the Income Statement model used to provide an

[2021-11-08 16:43] leinemann commented on #30
hey @fivetran-joemarkiewicz, thanks for looking at this! :-)
I think that baking in an ordinal comes at very little cost.  It would be up to the user to apply the ordering with associated cost or not.  So in my opinion it would be great to have.

[2021-11-09 11:00] leinemann opened #31 "FEATURE - Cashflow Statement"
**Are you a Fivetran customer?**
yes, Christoph, Sustain.life

**Is your feature request related to a problem? Please describe.**
No visibility into cashflow situation based on current models

**Describe the solution you'd like**
We would like to see a cashflow report similar to the balance sheet etc.

**Describe alternatives you've considered**
using the report available in the Quickbooks UI

**A

[2021-11-09 22:23] fivetran-joemarkiewicz commented on #30
@leinemann would you be able to share an example of what one of these "static data" models would be?

[2021-11-09 22:28] fivetran-joemarkiewicz commented on #31
Hey @leinemann thanks so much for opening this Feature Request!

We have actually received a few other requests from users of this package to build out a cash flow statement as a final model. This will be a report we would like to integrate into the package in the near future. I imagine this will be a feature our team will work to integrate next quarter. It would be great to keep the conversation

[2021-11-09 22:43] leinemann commented on #31
that is great, thanks @fivetran-joemarkiewicz! Yes, although far from being a finance expert, I can help to validate as I can compare against the reports that quickbooks offer where I can see things like balance sheet and PnL tying up already.

[2021-11-10 21:54] leinemann commented on #30
hey @fivetran-joemarkiewicz, in simple terms I'm thinking of an optional pre-populated table like:
<table>
<tr><td>ACCOUNT_CLASS</td><td>ORDINAL</td></tr>
<tr><td>Asset</td><td>1</td></tr>
<tr><td>Equity</td><td>2</td></tr>
<tr><td>Liability</td><td>3</td></tr>
</table>

now this could be joined to the actual balance sheet if desired so that the ordinal column appears in the balance sheet model  s

[2021-11-15 16:12] fivetran-joemarkiewicz commented on #30
Ahhh okay I see what you are saying now. I could see this being a good enhancement to the package and help with the overall understanding and analytic use of these final models.

That being said I think this would be a good addition to incorporate along with the other feature request you submitted for the Cash Flow statement. This way the next major release of the package can include these feature

[2022-01-13 22:55] leinemann opened #33 "FEATURE - [your feature request title here]"
**Are you a Fivetran customer?**
Christoph, sustain.life

**Is your feature request related to a problem? Please describe.**
We are currently unable to created top level/unified models across several quickbooks instances/accounts.

**Describe the solution you'd like**
I'd love to see a solution in line with  what has been done for shopify / xero already to support unionizing across multiple source

[2022-03-07 19:34] mcgodes commented on #33
This is something that would be of use to me too!

 I have two quickbooks connectors feeding into the same warehouse (ours happens to be PSQL in AWS). They are written to different schemas (ab_quickbooks, ab_cd_quickbooks) though. I only really care about the Quickbooks reports (e.g. P&L, BS), which are run through this module in DBT.

Currently, I have to go through some work-arounds in order to

[2022-04-01 18:11] ligfx opened #37 "BUG - Fails when encountering 'SHIPPING_ITEM_ID' values in sales_receipt_line.sales_item_item_id"

[2022-04-01 18:30] fivetran-joemarkiewicz commented on #37
Hi @ligfx would you be able to provide a bit more context to your error? It looks like there was no description provided in the Issue.

Based off your title, I think the Issue opened in our [dbt_quickbooks_source](https://github.com/fivetran/dbt_quickbooks_source/issues/23) repo may be similar to what you are experiencing. If that is the case, would you be willing to attempt to run the following v

[2022-04-01 19:50] ligfx commented on #37
Hi @fivetran-joemarkiewicz, yes, it's the same issue. The branch you recommended works, thank you!

[2022-04-01 20:08] fivetran-joemarkiewicz commented on #37
That's great to hear @ligfx!!

I will be meeting with the creator of the Issue linked next Thursday. You can most likely expect an official release with this fix applied by the end of next week. For the time being, feel free to use the branch and I will leave this issue open until the release is live.

[2022-04-01 20:15] ligfx commented on #37
Awesome, thanks @fivetran-joemarkiewicz !

[2022-04-19 20:44] fivetran-joemarkiewicz commented on #37
@ligfx this issue will now be resolved in the latest version of the dbt_quickbooks `v0.5.0` release! You can expect this release to be live at the top of the hour.

Feel free to open another issue if you encounter any errors, or open a FR if you would like to see more functionality from the package 😄

[2022-04-19 20:44] #37 closed

[2022-07-22 19:20] wilcoxmc opened #40 "[Bug] General Ledger transaction_index discrepancies with sub-ledger line indexes"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the issue

In the x_general_ledger.sql file, the transaction_index is added at the end, after the big union query.  But when I try to connect to line records in the sub-ledgers, the index values don't always match up exactly.  Perhaps you could added the index column to the sub-ledger queries where po

[2022-08-04 21:54] fivetran-joemarkiewicz commented on #40
Thanks so much for opening this issue @wilcoxmc! We really appreciate you taking the time to raise this with our team.

@fivetran-avinash and I were looking through the package today and believe we found a good path forward! We checked the `*_line` source tables and found the proper `index` field is present in all of them. Therefore, we should be able to bring them through to the respective `*_dou

[2022-08-23 14:25] aufdenkamp commented on #40
Would love updates on how this is going - I believe I'm having the exact same problem.

[2022-08-24 01:46] aufdenkamp commented on #40
Awesome, we will check it out tomorrow and let you know. I appreciate you
reaching out!

On Tue, Aug 23, 2022 at 12:50 PM Avinash Kunnath ***@***.***>
wrote:

[2022-08-24 14:52] aufdenkamp commented on #40
After testing this branch, I don't believe this solved our issues. The only thing that appears to be off for us is the balance sheet - the month-end balances on some GL accounts (bank accounts, equity, accounts payable, accounts receivable) aren't matching up to what we show in Quickbooks. Some are significantly off, though total Assets DO balance with Liabilities + Equity as you'd expect. I'm not

[2022-08-24 15:04] fivetran-joemarkiewicz commented on #40
Hey @aufdenkamp I agree that this seems to be a different issue 🤔

Would you mind opening a new Bug report around the discrepancies you are seeing and we can dig some more into that bug.

[2022-08-24 16:36] aufdenkamp opened #43 "[Bug] Balance Sheet Transactions Duplicating"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the issue

We are experiencing duplicate general ledger entries in our balance sheet, causing it to not match our Quickbooks reporting.

What I'm seeing is that for each duplicate, there is one coming from each `Transaction_Source` of `journal_entry` and `transfer`. It also appears that the duplicate

[2022-08-24 16:37] aufdenkamp commented on #43
![image](https://user-images.githubusercontent.com/97621944/186474207-3370fa4e-8ede-4d0a-8d24-7fe8675fbee4.png)

[2022-08-24 16:44] aufdenkamp commented on #43
Do we just need to flip `using_transfer` to `false`?

[2022-08-29 22:05] aufdenkamp commented on #43
I looked into this a little bit more - this is related to deleted transactions in Quickbooks. For example, in our Quickbooks instance, all of the `transfer` items in the above image are "deleted", but they are still coming through in the data, even after a historical resync.

[2022-08-30 13:45] fivetran-joemarkiewicz commented on #43
Thanks for sharing this information @aufdenkamp!

Is there a way in the source data you are able to determine that these transactions are deleted? Or are you only able to determine as such after viewing direction in QuickBooks?

[2022-08-30 13:51] aufdenkamp commented on #43
I have only been able to determine that they are deleted after viewing Quickbooks. I could not find any indication in the source data that they were deleted.

[2022-08-30 13:52] fivetran-joemarkiewicz commented on #43
Thanks for sharing @aufdenkamp, let me do some digging to see if I can find a way to determine this in the source data. 🤔

[2022-09-01 15:04] mikerenderco opened #44 "[FEATURE] Add Class to General Ledger and General Ledger by Period <title>"
### Is there an existing feature request for this?

- [X] I have searched the existing issues

### Describe the Feature

Our company and I would imaging others use the Class field on the General Ledger for every company that we work with.  We build financial reporting for all of our customers and it always requires the class.  It would be great to make this a standard field on the General Ledger a

[2022-09-07 14:45] aufdenkamp commented on #43
@fivetran-joemarkiewicz Any luck?

[2022-09-07 15:12] fivetran-joemarkiewicz commented on #43
Non yet 😢. I would recommend opening a ticket with our [Support Team](https://support.fivetran.com/hc/en-us) so our engineering team can take a closer look and hopefully find a way to understand if a transaction is deleted.

I'll keep looking in the meantime.

[2022-09-14 23:03] fivetran-joemarkiewicz commented on #44
Hi @mikerenderco thanks so much for opening this feature request!

I have seen a similar request from a few other customers. This is something we would like to consider to add into our QuickBooks package in the future. We are planning enhancements to this package in our next quarter and will include this in the enhancements.

[2022-09-14 23:05] fivetran-joemarkiewicz opened #45 "[Bug] transaction_id was removed in previous release."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the issue

The `transaction_id` from the `quickbooks__general_ledger` model was removed in `v0.5.1`. This was removed erroneously and should be added back in.

### Relevant error log or model output

[code]

### Expected behavior

The transaction_id is included in the GL model.

### dbt Project config

[2022-09-20 17:15] mikerenderco opened #47 "[Bug] <General Ledger/Balance Sheet accounts Don't balance because there are no entries for Credit Card Payments>"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the issue

We created a Balance Sheet from the General Ledger and we have also pulled the Balance Sheet that is provided.  Fivetrans has the Quickbooks Table pulling in a table called credit_card_payment_txn. When you try to balance a Credit Card Account or the Cash account from a bank account from th

[2022-09-20 18:00] fivetran-joemarkiewicz commented on #47
Hi @mikerenderco thanks for opening this issue!

I agree that in this situation including the `credit_card_payment_txn` source table into our General Ledger (and other financial statement) downstream models would account for the differences you are currently seeing. The data we used to develop and maintain this package actually does not leverage the `credit_card_payment_txn` table and therefore wa

[2022-09-20 20:19] mikerenderco commented on #47
@fivetran-joemarkiewicz great points here. I don't know that the credit_card_payment_txn contains all the fields you would need to build data into the GL and Balance Sheet.  What I ended up doing for our client is union-ing to additional tables in Big query to the GL.  I have attached our table with example records.
[quickbooks.credit_card_payment_txn.csv](https://github.com/fivetran/dbt_quickbook

[2022-09-26 14:19] fivetran-joemarkiewicz commented on #45
This issue has since been resolved in the latest release of the `dbt_quickbooks` package. As such, closing the issue.

[2022-09-26 14:19] #45 closed

[2022-09-26 14:21] fivetran-joemarkiewicz commented on #40
Hi @wilcoxmc thanks again for raising this to our team. We have since been able to include these updates in the latest release of the package.

@aufdenkamp thanks for raising the discrepancy with our team and opening Issue #43. We may continue conversations in that respective issue.

[2022-09-26 14:21] #40 closed

[2022-09-26 14:21] lxuis97 commented on #47
Hey @fivetran-joemarkiewicz,

What's the expected time to solve this issue?

Thanks!

[2022-09-26 14:22] fivetran-joemarkiewicz commented on #43
Hi @aufdenkamp just wanted to check in if you were able to reach out to customer support?

[2022-09-26 14:25] fivetran-joemarkiewicz commented on #47
Hi @lxuis97 you must have a sixth sense! I am actually exploring this as we speak. While I don't have a fix at the moment, I am working on the implementation outlined above. I will plan to keep you updated as I progress in this thread 😄

[2022-09-26 14:47] aufdenkamp commented on #43
I have reached out - sounds like the issue in the Transfers table will be
resolved today? Still working with support on some additional items.

On Mon, Sep 26, 2022 at 9:22 AM Joe Markiewicz ***@***.***>
wrote:

[2022-09-26 15:07] fivetran-joemarkiewicz opened #48 "[Bug] Bill Payment Double Entries are Erroneously Duplicated"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the issue

A few users have noted that bill payment double entries are being duplicated when they in fact should not be. There is something occurring within the `int_quickbooks__bill_payment_double_entry` model that is erroneously duplicating these records.

I have been able to investigate and believe

[2022-09-27 15:38] fivetran-joemarkiewicz commented on #47
HI @mikerenderco and @lxuis97 I have been able to get a working version of the package with the `credit_card_payment_txn` source baked into the General Ledger model (see the draft PR linked above if you want to see the details)! It would be great if you could give the branch a try and let me know if the implementation works on your data.

To test out the branch, you can use the following in your `

[2022-09-27 19:58] fivetran-joemarkiewicz commented on #48
The above linked PR should address this issue.

[2022-09-29 16:26] fivetran-joemarkiewicz commented on #48
This issue has been resolved in the latest release of the package.

[2022-09-29 16:26] #48 closed

[2022-10-12 21:15] fivetran-joemarkiewicz commented on #47
Hey @mikerenderco were you able to add the above `packages.yml` config to your project? If so, you will need to run `dbt deps` before running in order to see the updates.

[2022-10-12 21:18] mikerenderco commented on #47
So i did do that this time!  Let me try again though and just make sure.

On Wed, Oct 12, 2022 at 2:15 PM Joe Markiewicz ***@***.***>
wrote:

--
Mike Lambeth
775.813.0944
***@***.***

[2022-10-12 21:24] mikerenderco commented on #47
So yes i was able to install the package:
[image: image.png]
then I ran it.

I then went in and ran a query on the specific transaction_id and its
returning no data?

I may still be doing something wrong joe i'm not sure but its what i've
done in the past.

SELECT * FROM
`allypediatrictherapy.dbt_mlambeth_quickbooks.quickbooks__general_ledger`

where  transaction_id = '29408'

On Wed, Oct 12, 2022

[2022-10-13 14:22] fivetran-joemarkiewicz commented on #47
@mikerenderco my apologies, I forgot to mention that you will need to add a variable to your `dbt_project.yml`
[code]

We set it to false by default since only a number of customers leverage this table.

[2022-10-13 15:48] mikerenderco commented on #47
Perfect so i reran it with that.  I am now getting a few quickbooks_staging
tables for the credit card transactions:
[image: image.png]

But i still am not getting any of this data in the GL?
select * From `dbt_mlambeth_quickbooks.quickbooks__general_ledger`
where  transaction_id = '29408'
[image: image.png]
I also looked by transaction source and don't see a Credit card transaction
source in ther

[2022-10-13 16:02] fivetran-joemarkiewicz commented on #47
Thanks for the quick reply and looks like we are getting somewhere! Did you scope the variable above globally? You will need to make sure the variable is global or either listed under both `quickbooks_source` and `quickbooks`.

Are you able to see that transaction ID you are sharing in the staging table? Additionally, I am unable to see the images you are including in the messages 😢

[2022-10-13 16:31] mikerenderco commented on #47
Hey Joe - Sorry about the images.  I don't think i understand how to declare my variables globally. Let me try to post directly in Git.

1. I checkout the branch in development
2. I open the dbt_project.yml under the quickbooks_source folder
3. on the last line i paste your addition of  using_credit_card_payment_txn: true
4. I then save the file
5. I then merge to main
6. I then dbt run
7. I don't

[2022-10-13 18:17] fivetran-joemarkiewicz commented on #47
Ahhhh you want to edit the variable in your root dbt_project.yml instead of the dbt_project.yml in the package.

Here is how I have it setup on my project:
![image](https://user-images.githubusercontent.com/74217849/195674919-9b14405d-714f-4eac-8c4a-7d28d3ff7b7c.png)

[2022-10-13 21:22] mikerenderco commented on #47
Ok Joe - I was able to get that in the global dbt_project. It runs successfully and moves the temp tables over for credit_card_payment_txn but I still don't see the records coming into the GL.

Here is my dbt_project.yml:
<img width="539" alt="Screenshot 2022-10-13 142146" src="https://user-images.githubusercontent.com/112642463/195713184-f6a839e2-1b54-42ef-9134-b33a26e0eb90.png">

I tried matchin

[2022-10-13 22:06] fivetran-joemarkiewicz commented on #47
Ah ha!! I think I see what the issue is. It looks like you are only installing the source package (as the snippet I sent above only is for the source package 🤦 , my apologies). Would you be able to try this snippet and see if you see the GL model updated?
[code]

[2022-10-31 16:16] fivetran-joemarkiewicz commented on #43
Hi @aufdenkamp came back across this ticket and assume that everything is resolved on your end. Closing out this GitHub issue.

Feel free to reopen the issue if you feel there is more to discuss on this original issue. 😄

[2022-10-31 16:16] #43 closed

[2022-11-01 14:36] fivetran-joemarkiewicz opened #52 "[Feature] README Updates"
### Is there an existing feature request for this?

- [X] I have searched the existing issues

### Describe the Feature

This packages README is not currently inline with our existing standards. It would be ideal for this repo to see README updates to be in line with our current documentation guidelines.

### Describe alternatives you've considered

_No response_

### Are you interested in contrib

[2022-11-07 23:23] mel-restori commented on #47
Hi @fivetran-joemarkiewicz ! I just started working with a team using Fivetran's dbt_quickbook integration and I'm investigating a credit card payment discrepancy. I'm diving into this thread and the [PR](https://github.com/fivetran/dbt_quickbooks/pull/50/files#) you linked to. I'm new to Fivetran's dbt projects so apologies in advance if some of these questions are rather basic.

- First question

[2022-11-08 00:14] mel-restori opened #53 "[Bug] Duplicating Accounts Receivable entries in the ledger"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the issue

I'm seeing duplicate Accounts Receivable entries in the ledger, and I think it's coming from [this cross join](https://github.com/fivetran/dbt_quickbooks/blob/76f324f566c83b2972498d137026497319b733e6/models/double_entry_transactions/int_quickbooks__payment_double_entry.sql#L72) to the `acco

[2022-11-08 15:12] fivetran-joemarkiewicz commented on #53
Hi @mel-restori thanks so much for opening this issue and I am sorry to see you are still running into the duplicates issue.

That is quite interesting that you have multiple accounts that satisfy all three of our conditions in the model. Are the accounts that satisfy the conditions duplicates, or are they their own distinct accounts? Would you be comfortable sharing the accounts on your end that

[2022-11-08 15:23] fivetran-joemarkiewicz commented on #47
Hi @mel-restori thanks for jumping into the thread! Hopefully I can help with some of your questions!

- Currently I would reference the `feature/backwards-credit-card` branch instead for the time being. At the moment we have a number of changes in flight (including this one) due to an upcoming dbt-utils v1.0.0 release that we are working on migration support within PR #51. However, we have notice

[2022-11-08 17:59] mel-restori commented on #47
Hi Joe, thanks so much for all this!
It's strange because `stg_quickbooks__credit_card_payment_txn` was never materialized, which makes me think maybe the variable wasn't set in the right spot. But I'll see about pointing to the new branch and rerunning to see if that helps resolve our cc payment issues. Thanks again!

[2022-11-08 23:49] mel-restori commented on #53
Hi Joe! I’m consulting for a company that in turn works with multiple clients so unfortunately I’m a couple steps removed. But they seem like distinct accounts. There are only 2 transactions in one of the accounts (both with amounts of $0), and tellingly the account has the text “not used” within its title. But the Quickbooks UI can tell them apart and correctly allocate transactions across the ac

[2022-11-09 15:31] fivetran-joemarkiewicz commented on #53
Thanks for sharing @mel-restori! The fact that their names have `don't use` and are of $0 is making me wonder if these should be listed as `active`?

I think if these accounts are listed as inactive then the logic within the package should be able to properly allocate the transactions and build the end models. Do you know if updating the accounts status would be a possibility or if it is appropria

[2022-11-10 21:29] mel-restori commented on #53
Thanks @jonatfivetran ! I hear you, but the account is in fact active and the Quickbooks UI seems to distinguish between the two accounts just fine. According to [this](https://quickbooks.intuit.com/learn-support/en-us/other-questions/multiple-accounts-payable-and-accounts-receivable-in-qbo/00/958028) post, it's recommended, but not required, to have only one such account (same with A/P accounts).

[2022-11-10 21:40] fivetran-joemarkiewicz commented on #53
Thanks for sharing that forum post. That is really helpfully that QuickBooks mentions there in fact can be multiple AP/AR accounts. Although they mention this isn't recommended, it looks like they will allocate transactions to the default account.

I was a bit nervous to move away from the cross join as I am unsure what AP/AR account to associate the transactions with. However, this idea of the de

[2022-11-10 22:24] mel-restori commented on #47
Hi @fivetran-joemarkiewicz ! We went ahead and pointed to that other branch and finally see the credit card payments come through! 🎉 However, our discrepancy doubled in size 😭

It seems that the payments are coming through with the opposite signs. I think in the credit card accounts, the credit card payments should be positive, while in the bank account they should be negative. I think that's dete

[2022-11-10 22:44] mel-restori commented on #53
sadly, no, I can't tell at all either in QB or in the imported data.
I'm attaching a csv of the columns for those 2 accounts from the `account` table. (Note I changed the balance amount on the "correct" account for client privacy, left it as "0" for the "not used" account). The only things I see different is that the "not used" account has a null description, but guessing that isn't something we c

[2022-11-10 22:46] fivetran-joemarkiewicz commented on #47
Hey @mel-restori that was actually something I was not entirely sure about when I added it to the branch and wanted to get confirmation on. I think you pointing this out is a great step forward in understanding the behavior of these transactions! I believe to fix this, we would just need to switch `credit_card_account_id` on line 35, with `bank_account_id` on line 59.

You have been really helpful

[2022-11-10 22:49] fivetran-joemarkiewicz commented on #53
Thanks so much @mel-restori this is really helpful. Do you know if there is any indication within the corresponding payment transaction if it highlights which AR account it should be attached to?

In the meantime, I am going to loop up with our product manager for the QuickBooks connector to see if they have come across this type of behavior in other environments.

[2022-11-10 22:57] mel-restori commented on #53
I'll dig around!

[2022-11-10 23:19] fivetran-joemarkiewicz commented on #47
Thanks so much for opening the PR! I just approved and merged it into the working branch. Let me know if that reduces the discrepancy on your end. If not, we can switch back and continue investigating 😄

[2022-11-10 23:21] mel-restori commented on #47
thank you!! hopefully that does it 🤞🏻. I'll update likely tomorrow.

[2022-11-11 15:29] mel-restori commented on #53
I'm sorry, I don't see any way to link to the correct account :(  It does seem like some key is missing since Quickbooks UI can differentiate.
Thanks!

[2022-11-15 22:33] mel-restori commented on #53
Hi @fivetran-joemarkiewicz, did you hear back from the product manager? This is still causing significant discrepancies. Thanks!

[2022-11-15 22:44] fivetran-joemarkiewicz commented on #53
Hi @mel-restori I have not been able to discover a solution with the product manager just yet. In the interim, you may be able to modify this specific model for your use case to remove the duplicates.

If you want, you can actually disable the model in question, rebuild it within your project (naming it the same as the package model), copy/paste the code from the package, and then make that small

[2022-11-15 22:45] mel-restori opened #55 "[Bug] Missing “Payroll Adjustment” and “Payroll Check” transaction types"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the issue

Investigating discrepancies between Quickbooks UI and the quickbooks__balance_sheet, I find that there were several transactions of type “Payroll Adjustment” and “Payroll Check” in Quickbooks that aren't anywhere to be found in the balance_sheet or ledger. I also looked in the raw data file

[2022-11-15 23:08] mel-restori commented on #53
thanks for that suggestion! How would we disable the model? would that be by setting `using_payment` to false? if so, would that variable impact any other model?

then we'd create our own `models/double_entry_transactions/int_quickbooks__payment_double_entry.sql` ?

[2022-11-15 23:21] fivetran-joemarkiewicz commented on #53
To disable the model you would actual disable the model itself as opposed to the variable. You are correct that if you disable the variable then it will impact the totals downstream.

To disable to model you can include the following in your root (not the package) dbt_project.yml:
[code]

This will disable the package model. Then within your root (not the package) `models/` folder, you can create

[2022-11-16 17:24] fivetran-joemarkiewicz commented on #55
Hi @mel-restori thanks for opening this issue. Unfortunately I do not believe this is something we can address within the package at the moment if the connector does not have these source tables.

It looks like there is a similar [Feature Request](https://support.fivetran.com/hc/en-us/community/posts/4410775485207-Connector-Improvement-Quickbooks-Payroll-and-Payroll-Check-Fields) open on the Fivet

[2022-11-16 20:20] mel-restori commented on #55
thanks @fivetran-joemarkiewicz ! I'll ask someone from the team (and thus a Fivetran login) to upvote and comment on that thread.

[2022-11-17 23:01] mel-restori opened #56 "[Bug] invoice.total_tax isn't going into general_ledger.amount"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the issue

I am investigating discrepancies in the balance sheet between quickbooks UI and quickbooks__balance_sheet.

One source of discrepancy I found is that for invoices with tax amounts, the totals aren't reflecting properly in the ledger. The tax amounts are included in the Quickbooks UI balance

[2022-11-22 15:58] fivetran-joemarkiewicz commented on #55
Sounds great! I will mark this as `wont do` for the time being as it is something we cannot address within the package until the source tables are included.

[2022-11-22 16:04] fivetran-joemarkiewicz commented on #56
Hi @mel-restori thanks for opening this incredibly thorough issue!

I would agree with you that I believe tax in this situation should be excluded from the revenue piece. However, I could see that this may need to be included within the AR totals. Based on what you are proposing, it may be as simple as swapping the `amount` in the line you called out to be `total_amount`. If you make that adjustme

[2022-11-23 16:52] mel-restori commented on #56
Hi @fivetran-joemarkiewicz,
I believe yes in these examples. But that means the whole case statement would collapse and it would just always be `invoices.total_amount`. I'm not sure if there was a reason that the case statement was put in in the first place so not sure the risk of swapping that for other types of transactions.

And I believe changing that line would then include it in the revenue

[2022-11-23 17:17] mel-restori commented on #55
that makes sense, thank you!

[2022-11-23 22:07] mel-restori opened #57 "[Feature] Break out Net Income from Retained Earnings"
### Is there an existing feature request for this?

- [X] I have searched the existing issues

### Describe the Feature

Today, Fivetran combines Net Income and Retained earnings into one line item (called "Net Income / Retained Earnings Adjustment"), but the QuickBooks UI breaks them out separately. It would be helpful for comparisons for them to be broken out. Relevant code is [here](https://git

[2022-11-30 19:22] SellJamHere opened #59 "[Bug] Invoice discounts aren't included as line items in the general ledger"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the issue

Missing invoice amounts cause an incorrect profit and loss report, as the profit is inflated by the discounted amount.

Quickbooks supports a percentage-based discount on invoices. This discount is present as a line item in `stg_quickbooks__invoice_line`, but it is filtered out in the `int_